doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title To Do Tasks
  link(rel='stylesheet' href='styles.css')
form.search
  label(for='task') To Do
  input#task(type='text' name='task')
  button ADD
script(src='SBATodo/script.js')